@import url("https://cdn.web-fonts.ge/fonts/bpg-banner-caps/css/bpg-banner-caps.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "BPG Banner Caps", sans-serif;
}

body.active {
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
}

.last_text {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
}

.last_text-container {
    display: none;
}

.big_star {
    margin-right: 340px;
    margin-bottom: 20px;
}

.lil_star {
    margin-left: 360px;
    margin-top: 10px;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo Start */
.logo_start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo_start.hideLogo {
    display: none;
}

.logo_start img {
    margin-bottom: 40px;
}

.logo_start p {
    font-family: "BPG Banner Caps", sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.logo_start p a {
    padding: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #232323;
}

.logo_start p a:hover {
    font-weight: bold;
}

/* Header */
.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    display: none;
}

.header.activeHeader {
    display: flex;
}

.redberry_header {
    color: #FE3B1F;
    font-weight: bold;
}

.num_header {
    color: #232323;
}

.header::after {
    content: '';
    position: absolute;
    background: #000;
    height: 2px;
    width: 100%;
    top: 70px;
    color: #232323;
}

/* Box container */
.box-container {
    width: 100%;
    display: flex;
    display: none;
}

.box-container.activeBox {
    display: flex;
}

/* Form */
.form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


#submit {
    opacity: 0;
}

.submit_second {
    opacity: 0;
    margin-top: 120px;
}

.form small {
    margin-left: 20px;
    color: #F15524;
    visibility: hidden;
}


.first_input.error {
    visibility: visible;
}

.second_input.error {
    visibility: visible;
}

.third_input.error {
    visibility: visible;
}

.attention {
    margin-top: 100px;
    font-size: 16px;
    color: #626262;
    width: 300px;
    line-height: 1.3;
}

.attention::before {
    content: '';
    height: 1px;
    width: 200px;
    margin-bottom: 10px;
    display: block;
    background: #000000;
}

.form label {
    margin: 10px 0;
    font-weight: bold;
}

.form input {
    padding: 10px;
    width: 400px;
    margin-bottom: 5px;
}


.box-img {
    height: 100%;
    width: 100%;
    position: relative;
}

.box-img img {
    width: 100%;
    height: 100%;
}

/* Yellow box */
.yellow-box {
    position: absolute;
    background: #e3e330;
    width: 600px;
    top: 23%;
    right: 9%;
    height: 70px;
    opacity: .7;
}

/* Arrows */
.arrows {
    display: flex;
    justify-content: center;
    position: relative;
    display: none;
}

.arrows.activeArrows {
    display: flex;
}

.arrows img {
    position: fixed;
    top: 86%;
}

.arrows img:nth-child(1) {
    right: 45%;
}

.arrows img:nth-child(2) {
    left: 45%;
    display: none;
}

.arrows img:nth-child(2).activeArrowLeft {
    display: block;
}


.arrows img {
    cursor: pointer;
    padding: 10px;
}

/* Second Page */
.form-radio {
    width: 500px;
}

.form-radio p {
    font-weight: bold;
    margin-bottom: 15px;
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 15px;
}

.radio2 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 15px;
}

.radio__input {
    display: none;
}

.radio__radio {
    width: 1.20em;
    height: 1.20em;
    border: 2px solid #232323;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
    margin: 5px 10px 8px 0;
}

.radio__radio::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #232323;
    border-radius: 50%;
    transform: scale(0);
}

.radio__input:checked ~ .radio__radio::after {
    transform: scale(1);
}

.second_question {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 630px;
}

second_question2 {
    margin-top: 40px;
    width: 560px;
}

.remember_box {
    width: 300px;
}

.remember_box input {
    margin: 10px 0;
    padding: 10px;
}

.remember_box input::placeholder {
    font-size: 15px;
}

.remember_box {
    display: flex;
    flex-direction: column;
}

.second_page {
    padding-top: 60px;
    display: none;
}

.second_page.activePage {
    display: flex;
}

.second_question3 {
    margin-top: 40px;
    width: 560px;
}

.date input {
    margin-left: 20px;
}

.form-radio {
    display: flex;
    flex-direction: column;
}

.second_page-img {
    position: relative;
}

.red_circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #e00a0a;
    position: absolute;
    opacity: .8;
    top: 26%;
    left: 6%;
}

.second_page-img img {
    width: 100%;
    height: 720px;
}

.virus_question {
    margin-top: 40px;
    width: 560px;
}

virus_question2 {
    margin-top: 40px;
    width: 560px;
}

/* Third Page */

.third_page {
    padding-top: 60px;
    display: none;
}

.third_page.activeThirdPage {
    display: block;
}

.third_page-img {
    position: relative;
}

/* Yellow star */
.yellow_star {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 104px solid transparent;
    border-right: 124px solid transparent;
    border-bottom: 115px solid #d9d92e;
    top: -4%;
    left: 5%;
    opacity: .7;
    transform: rotate(-5deg);
}

.yellow_star::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 97px solid transparent;
    border-right: 78px solid transparent;
    border-top: 131px solid #d9d92e;
    margin: 31px 0 0 -86px;
}


.third_page-img img {
    width: 100%;
    height: 660px;
}

.third_question {
    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
}

/* Fourth Page */
.fourth_page {
    padding: 60px 0;
    display: none;
}

.form-fourth.activeFourthPage {
    display: block;
}

.fourth_page img {
    width: 100%;
    height: 600px;
    margin-left: 50px;
}

.form-fourth {
    width: 500px;
}

.questions {
    display: flex;
    flex-direction: column;
}

.question {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

#first_area,
#second_area {
    padding: 10px;
    font-size: 14px;
}

.finish_submit {
    padding: 15px 20px;
    background: #208298;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 14px;
    cursor: pointer;
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: "BPG Banner Caps", sans-serif;
}

/* Virus questions / Answer */
.virus_answer3 {
    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
}

.virus_answer4 {
    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
}

.virus_answer5 {
    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
}


